@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Forgot Password</title>

    <link href="~/Content/bootstrap.min.css" rel="stylesheet">
    <link href="~/Fonts/font-awesome/css/font-awesome.css" rel="stylesheet">

    <link href="~/Content/animate.css" rel="stylesheet">
    <link href="~/Content/style.css" rel="stylesheet">

</head>

<body class="gray-bg" style="background:url(../../Images/cos1.jpg)  no-repeat; background-size:cover">

    <div class="loginColumns animated fadeInDown">
        <div class="row">

            <div class="col-md-7">
                <div class="ibox-content">
                    @using (Html.BeginForm("ForgotPassword", "Home", FormMethod.Post, new { @id = "frmForgot" }))
                    {

                        <div class="form-group text-center">
                            <h4 class="title">Forgot your password ?</h4>
                        </div>

                        <br />

                        <div class="form-group">
                            <label>Enter your mobile number</label>
                            @Html.TextBox("Mobile", null, new { @class = "form-control", @placeholder = "Enter Mobile", @maxlength = "10" })
                        </div>

                        <button type="submit" class="btn btn-primary block full-width m-b">Get OTP</button>

                        <a>
                            <p class="text-center">
                                <i class="fa fa-backward"></i> Back to Home
                            </p>
                        </a>
                    }

                </div>
            </div>

            <div class="col-md-5">


            </div>

        </div>
        <div class="row">
            <div class="col-md-6 text-white text-center" style="font-size:16px;">
                <hr />
                <b>
                    Copyright &copy; 2016 | <a href="https://riowebs.com/" style="color:white">Riowebs</a>
                </b>
            </div>
            <div class="col-md-6 text-right">

            </div>
        </div>
    </div>



    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/plugins/validate/jquery.validate.min.js"></script>
    <script>
        $(document).ready(function () {
            //code for after loading page
            $("#frmForgot").validate({
                rules: {
                    Mobile: {
                        required: true,
                        minlength: '10',
                        maxlength: '10',
                        number: true
                    }
                }
            });
        });
    </script>
</body>
</html>
