
@{
    ViewBag.Title = "Fail";
    Layout = "~/Areas/UserPanel/Views/Shared/_Layout.cshtml";
}


<div class="main-wrapper clearfix">
    <div class="site-pagetitle jumbotron">
        <div class="container text-center">
            <h3>Payment Fail</h3>

        </div>
    </div>
</div>


