
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/UserPanel/Views/Shared/_Layout.cshtml";
}

<!-- CONTENT + SIDEBAR -->
<div class="main-wrapper clearfix">
    <!-- Main Slider -->
    <div id="owl-carousel-main" class="owl-carousel nav-1">
        <div class="gst-slide">
            <img src="~/Areas/UserPanel/Content/assets/img/slides/1.jpg" alt="" />
            <div class="gst-caption container theme-container">
                <div>
                    <div class="caption-center">
                        <p class="slider-title"> <span class="fsz-220 funky-font">Bikes</span> <span class="funky-font-2 fsz-28">Slim, Strong, and Fun Anytime</span> </p>
                        <a class="fancy-btn fsz-16" href="#">Find Your Bike</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="gst-slide">
            <img src="~/Areas/UserPanel/Content/assets/img/slides/2.jpg" alt="" />
            <div class="gst-caption container theme-container">
                <div>
                    <div class="caption-center">
                        <p class="slider-title"> <span class="fsz-220 funky-font">Riding</span> <span class="funky-font-2 fsz-28">our bikes stronger <br> than you ever imagined </span> </p>
                        <a class="fancy-btn fsz-16" href="#">Find Your Bike</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="gst-slide">
            <img src="~/Areas/UserPanel/Content/assets/img/slides/3.jpg" alt="" />
            <div class="gst-caption container theme-container">
                <div>
                    <div class="caption-right">
                        <h3 class="fsz-40 wht-clr funky-font-2">  Waterproof Jacket  </h3>
                        <h2>Goshop <span class="thm-clr">Big Sale</span></h2>
                        <p class="lgt-gry hidden-xs">Cycling is a healthy, fun and exciting way to travel. No matter what type of cycling you're into, we've got a bike for you.</p>
                        <a class="fancy-btn-alt fsz-16" href="#">Shop Now</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- / Main Slider -->
    <!-- Banner -->
    <section class="banner clear">
        <div class="col-lg-4 col-md-4 col-sm-12 no-padding promo-wrap">
            <div class="gst-promo gst-color-white">
                <img src="~/Areas/UserPanel/Content/assets/img/banner/promo1.jpg" alt="" />
                <div class="vertical-align-div gst-promo-text col-lg-6 right">
                    <div>
                        <div class="vertical-align-text">
                            <h2> <span class="sec-title fsz-40 wht-clr"> Men </span> <span class="light-font-3 fsz-33 lght-ylw"> $350 </span> </h2>
                            <p class="fsz-18">Bikes, clothing and many more...</p>
                            <a href="#" class="fancy-btn fancy-btn-small">Shop Now</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-6 no-padding promo-wrap">
            <div class="gst-promo gst-color-white">
                <img src="~/Areas/UserPanel/Content/assets/img/banner/promo2.jpg" alt="" />
                <div class="vertical-align-div gst-promo-text col-lg-8 right">
                    <div>
                        <div class="vertical-align-text">
                            <h2> <span class="sec-title fsz-40 wht-clr"> Women </span> <span class="light-font-3 fsz-33 thm-clr"> $250 </span> </h2>
                            <p class="fsz-18">Bikes, clothing, accessories and much more...</p>
                            <a href="#" class="fancy-btn fancy-btn-small">Shop Now</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-6 no-padding promo-wrap">
            <div class="gst-promo gst-color-white">
                <img src="~/Areas/UserPanel/Content/assets/img/banner/promo3.jpg" alt="" />
                <div class="vertical-align-div gst-promo-text col-lg-7 col-xs-offset-1">
                    <div>
                        <div class="vertical-align-text">
                            <h2> <span class="sec-title fsz-40 blklt-clr"> Bike's </span> <span class="light-font-3 fsz-33 lght-ylw"> $550 </span> </h2>
                            <p class="fsz-18">All famous bike brands only for you...</p>
                            <a href="#" class="fancy-btn fancy-btn-small">Shop Now</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- / Banner -->
    <!-- Product Slider -->
    <section class="gst-row row-bikes clear">
        <div class="products-wrap text-center">
            <div class="fancy-heading text-center">
                <h3>Choose Your <span class="thm-clr">Bike</span></h3>
                <h5 class="funky-font-2">Search by type of bike</h5>
                <i class="thm-clr fsz-20 fa fa-angle-double-down"></i>
            </div>
            <!-- Portfolio items -->
            <div class="products-slider nav-2">
                <div class="product">
                    <div class="product-media">
                        <img src="~/Areas/UserPanel/Content/assets/img/products/slid-prod-2.png" alt="" />
                    </div>
                    <div class="product-content">
                        <h3> <a href="single-product.html" class="title-2">ROAD BIKES</a> </h3>
                        <p class="font-2">Start from <span class="thm-clr"> $299.00 </span> </p>
                    </div>
                </div>
                <div class="product">
                    <div class="product-media">
                        <img src="~/Areas/UserPanel/Content/assets/img/products/slid-prod-1.png" alt="" />
                    </div>
                    <div class="product-content">
                        <h3> <a href="single-product.html" class="title-2"> MOUNTAIN BIKES </a> </h3>
                        <p class="font-2">Start from <span class="thm-clr"> $599.00 </span> </p>
                    </div>
                </div>
                <div class="product">
                    <div class="product-media">
                        <img src="~/Areas/UserPanel/Content/assets/img/products/slid-prod-3.png" alt="" />
                    </div>
                    <div class="product-content">
                        <h3> <a href="single-product.html" class="title-2">BMX BIKES</a> </h3>
                        <p class="font-2">Start from <span class="thm-clr"> $399.00 </span> </p>
                    </div>
                </div>
                <div class="product">
                    <div class="product-media">
                        <img src="~/Areas/UserPanel/Content/assets/img/products/slid-prod-2.png" alt="" />
                    </div>
                    <div class="product-content">
                        <h3> <a href="single-product.html" class="title-2">ROAD BIKES</a> </h3>
                        <p class="font-2">Start from <span class="thm-clr"> $299.00 </span> </p>
                    </div>
                </div>
                <div class="product">
                    <div class="product-media">
                        <img src="~/Areas/UserPanel/Content/assets/img/products/slid-prod-1.png" alt="" />
                    </div>
                    <div class="product-content">
                        <h3> <a href="single-product.html" class="title-2"> MOUNTAIN BIKES </a> </h3>
                        <p class="font-2">Start from <span class="thm-clr"> $599.00 </span> </p>
                    </div>
                </div>
                <div class="product">
                    <div class="product-media">
                        <img src="~/Areas/UserPanel/Content/assets/img/products/slid-prod-3.png" alt="" />
                    </div>
                    <div class="product-content">
                        <h3> <a href="single-product.html" class="title-2">BMX BIKES</a> </h3>
                        <p class="font-2">Start from <span class="thm-clr"> $399.00 </span> </p>
                    </div>
                </div>
            </div>
            <a href="#" class="fancy-btn fancy-btn-small fsz-15">View all Bikes</a>
        </div>
    </section>
    <!-- / Product Slider -->
    <!-- Product Compare -->
    <section class="gst-compare">
        <div class="gst-column col-lg-6 col-md-6 col-sm-12 col-xs-12 gst-compare-men">
            <div class="col-lg-6 right">
                <h5 class="title-1">Waterproof Jacket</h5>
                <h3>
                    <span class="sec-title fsz-45"> Men </span>
                    <span class="thin-font-3 fsz-40 thm-clr"> $350 </span>
                </h3>
                <ul>
                    <li>Integrated i-Lume LED rear light</li>
                    <li>Optional hood available separately</li>
                    <li>Breathability rating 15,000</li>
                </ul>
                <p class="gst-compare-actions">
                    <a href="#">Detail</a>
                    <a class="compare-add-to-cart" href="#">Add to Cart</a>
                </p>
            </div>
        </div>
        <div class="gst-column col-lg-6 col-md-6 col-sm-12 col-xs-12 gst-compare-women">
            <div class="col-lg-7">
                <h5 class="title-1">Waterproof Jacket</h5>
                <h3>
                    <span class="sec-title fsz-45"> Women </span>
                    <span class="thin-font-3 fsz-40 thm-clr"> $250 </span>
                </h3>
                <ul>
                    <li>Integrated i-Lume LED rear light</li>
                    <li>Optional hood available separately</li>
                    <li>Breathability rating 15,000</li>
                </ul>
                <p class="gst-compare-actions">
                    <a href="#">Detail</a>
                    <a class="compare-add-to-cart" href="#">Add to Cart</a>
                </p>
            </div>
        </div>
        <div class="descount bold-font-2"> <div class="rel-div"> <p> DISCOUNT UP TO 75% </p> </div> </div>
    </section>
    <!-- / Product Compare -->
    <!-- New Arrivals -->
    <section class="gst-row row-arrivals woocommerce ovh">
        <div class="container theme-container">
            <div class="gst-column col-lg-12 no-padding text-center">
                <div class="fancy-heading text-center">
                    <h3><span class="thm-clr">New</span> Arrivals</h3>
                    <h5 class="funky-font-2">Trending Products</h5>
                </div>
                <!-- Filter for items -->
                <div class="clearfix tabs space-15">
                    <ul class="filtrable products_filter">
                        <li class=""><a href="#" data-filter=".tab-2">CLOTHING</a></li>
                        <li class="active"><a href="#" data-filter=".tab-1">BIKES</a></li>
                        <li class=""><a href="#" data-filter=".tab-3">COMPONENTS</a></li>
                        <li class=""><a href="#" data-filter=".tab-4">ACCESSORIES</a></li>
                        <li class=""><a href="#" data-filter=".tab-5">PROTECTIONS</a></li>
                    </ul>
                </div>
                <!-- Portfolio items -->
                <div class="row isotope isotope-items" id="product-filter">
                    <div class="col-md-3 col-sm-6 col-xs-12 isotope-item tab-1 tab-3 tab-5">
                        <div class="portfolio-wrapper">
                            <div class="portfolio-thumb">
                                <img src="~/Areas/UserPanel/Content/assets/img/products/prod-1.jpg" alt="">
                                <div class="portfolio-content">
                                    <div class="pop-up-icon">
                                        <a class="center-link" href="#product-preview" data-toggle="modal"><i class="fa fa-search"></i></a>
                                        <a class="left-link" href="#"><i class="fa fa-heart"></i></a>
                                        <a class="right-link" href="#"><i class="cart-icn"> </i></a>
                                    </div>
                                </div>
                            </div>
                            <div class="product-content">
                                <h3> <a class="title-3 fsz-18" href="#">GT SENSOR COMP 27.5</a> </h3>
                                <p class="font-2">Start from <span class="thm-clr"> $299.00 </span> </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6 col-xs-12 isotope-item tab-1 tab-4 tab-5">
                        <div class="portfolio-wrapper">
                            <div class="portfolio-thumb">
                                <img src="~/Areas/UserPanel/Content/assets/img/products/prod-2.jpg" alt="">
                                <div class="portfolio-content">
                                    <div class="pop-up-icon">
                                        <a class="center-link" href="#product-preview" data-toggle="modal"><i class="fa fa-search"></i></a>
                                        <a class="left-link" href="#"><i class="fa fa-heart"></i></a>
                                        <a class="right-link" href="#"><i class="cart-icn"> </i></a>
                                    </div>
                                </div>
                            </div>
                            <div class="product-content">
                                <h3> <a class="title-3 fsz-18" href="#">BUTNITZ BICYCLE</a> </h3>
                                <p class="font-2">Start from <span class="thm-clr"> $299.00 </span> </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6 col-xs-12 isotope-item tab-1 tab-4 tab-3">
                        <div class="portfolio-wrapper">
                            <div class="portfolio-thumb">
                                <img src="~/Areas/UserPanel/Content/assets/img/products/prod-3.jpg" alt="">
                                <div class="portfolio-content">
                                    <div class="pop-up-icon">
                                        <a class="center-link" href="#product-preview" data-toggle="modal"><i class="fa fa-search"></i></a>
                                        <a class="left-link" href="#"><i class="fa fa-heart"></i></a>
                                        <a class="right-link" href="#"><i class="cart-icn"> </i></a>
                                    </div>
                                </div>
                            </div>
                            <div class="product-content">
                                <h3> <a class="title-3 fsz-18" href="#">BREEZER SQUALL 1.0</a> </h3>
                                <p class="font-2">Start from <span class="thm-clr"> $299.00 </span> </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6 col-xs-12 isotope-item tab-1 tab-3 tab-4">
                        <div class="portfolio-wrapper">
                            <div class="portfolio-thumb">
                                <img src="~/Areas/UserPanel/Content/assets/img/products/prod-4.jpg" alt="">
                                <div class="portfolio-content">
                                    <div class="pop-up-icon">
                                        <a class="center-link" href="#product-preview" data-toggle="modal"><i class="fa fa-search"></i></a>
                                        <a class="left-link" href="#"><i class="fa fa-heart"></i></a>
                                        <a class="right-link" href="#"><i class="cart-icn"> </i></a>
                                    </div>
                                </div>
                            </div>
                            <div class="product-content">
                                <h3> <a class="title-3 fsz-18" href="#">FUJIE TAHOE 1.5 27.5</a> </h3>
                                <p class="font-2">Start from <span class="thm-clr"> $299.00 </span> </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6 col-xs-12 isotope-item tab-2 tab-4 tab-3">
                        <div class="portfolio-wrapper">
                            <div class="portfolio-thumb">
                                <img src="~/Areas/UserPanel/Content/assets/img/products/cloth-2.jpg" alt="">
                                <div class="portfolio-content">
                                    <div class="pop-up-icon">
                                        <a class="center-link" href="#product-preview" data-toggle="modal"><i class="fa fa-search"></i></a>
                                        <a class="left-link" href="#"><i class="fa fa-heart"></i></a>
                                        <a class="right-link" href="#"><i class="cart-icn"> </i></a>
                                    </div>
                                </div>
                            </div>
                            <div class="product-content">
                                <h3> <a class="title-3 fsz-18" href="#">GT SENSOR COMP 27.5</a> </h3>
                                <p class="font-2">Start from <span class="thm-clr"> $299.00 </span> </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6 col-xs-12 isotope-item tab-2 tab-3 tab-5">
                        <div class="portfolio-wrapper">
                            <div class="portfolio-thumb">
                                <img src="~/Areas/UserPanel/Content/assets/img/products/cloth-3.jpg" alt="">
                                <div class="portfolio-content">
                                    <div class="pop-up-icon">
                                        <a class="center-link" href="#product-preview" data-toggle="modal"><i class="fa fa-search"></i></a>
                                        <a class="left-link" href="#"><i class="fa fa-heart"></i></a>
                                        <a class="right-link" href="#"><i class="cart-icn"> </i></a>
                                    </div>
                                </div>
                            </div>
                            <div class="product-content">
                                <h3> <a class="title-3 fsz-18" href="#">BUTNITZ BICYCLE</a> </h3>
                                <p class="font-2">Start from <span class="thm-clr"> $299.00 </span> </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6 col-xs-12 isotope-item tab-2 tab-4 tab-5">
                        <div class="portfolio-wrapper">
                            <div class="portfolio-thumb">
                                <img src="~/Areas/UserPanel/Content/assets/img/products/cloth-4.jpg" alt="">
                                <div class="portfolio-content">
                                    <div class="pop-up-icon">
                                        <a class="center-link" href="#product-preview" data-toggle="modal"><i class="fa fa-search"></i></a>
                                        <a class="left-link" href="#"><i class="fa fa-heart"></i></a>
                                        <a class="right-link" href="#"><i class="cart-icn"> </i></a>
                                    </div>
                                </div>
                            </div>
                            <div class="product-content">
                                <h3> <a class="title-3 fsz-18" href="#">BREEZER SQUALL 1.0</a> </h3>
                                <p class="font-2">Start from <span class="thm-clr"> $299.00 </span> </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6 col-xs-12 isotope-item tab-2 tab-3 tab-4">
                        <div class="portfolio-wrapper">
                            <div class="portfolio-thumb">
                                <img src="~/Areas/UserPanel/Content/assets/img/products/cloth-5.jpg" alt="">
                                <div class="portfolio-content">
                                    <div class="pop-up-icon">
                                        <a class="center-link" href="#product-preview" data-toggle="modal"><i class="fa fa-search"></i></a>
                                        <a class="left-link" href="#"><i class="fa fa-heart"></i></a>
                                        <a class="right-link" href="#"><i class="cart-icn"> </i></a>
                                    </div>
                                </div>
                            </div>
                            <div class="product-content">
                                <h3> <a class="title-3 fsz-18" href="#">FUJIE TAHOE 1.5 27.5</a> </h3>
                                <p class="font-2">Start from <span class="thm-clr"> $299.00 </span> </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- / New Arrivals -->
    <!-- Featured Products -->
    <section class="box-content">
        <div class="fancy-heading text-center spcbtm-15">
            <h3>Featured Products</h3>
            <h5 class="funky-font-2">Our featured products here</h5>
        </div>
        <div class="featured-products diblock">
            <div class="col-sm-6 col-lg-3 no-lr-padding">
                <div class="image"><img src="~/Areas/UserPanel/Content/assets/img/products/featured-product-1.png" alt="Product"></div>
                <div class="description">
                    <div class="text">
                        <a href="#" class="add-to-cart cart-icn2"></a>
                        <div class="brand funky-font-2 ">Cycling Shoes</div>
                        <div class="name"><a href="#">Sidebike m065 pro</a></div>
                        <div class="price font-3">$250.00</div>
                        <div class="rating">
                            <span class="star active"></span>
                            <span class="star active"></span>
                            <span class="star active"></span>
                            <span class="star"></span>
                            <span class="star"></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-3 no-lr-padding">
                <div class="image"><img src="~/Areas/UserPanel/Content/assets/img/products/featured-product-2.png" alt="Product"></div>
                <div class="description">
                    <div class="text">
                        <a href="#" class="add-to-cart cart-icn2"></a>
                        <div class="brand funky-font-2 ">Cycling Shoes</div>
                        <div class="name"><a href="#">Sidebike m065 pro</a></div>
                        <div class="price font-3">$250.00</div>
                        <div class="rating">
                            <span class="star"></span>
                            <span class="star"></span>
                            <span class="star"></span>
                            <span class="star"></span>
                            <span class="star"></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-3 no-lr-padding">
                <div class="image"><img src="~/Areas/UserPanel/Content/assets/img/products/featured-product-3.png" alt="Product"></div>
                <div class="description">
                    <div class="text">
                        <a href="#" class="add-to-cart cart-icn2"></a>
                        <div class="brand funky-font-2 ">Cycling Shoes</div>
                        <div class="name"><a href="#">Sidebike m065 pro</a></div>
                        <div class="price font-3">$250.00</div>
                        <div class="rating">
                            <span class="star active"></span>
                            <span class="star active"></span>
                            <span class="star active"></span>
                            <span class="star"></span>
                            <span class="star"></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-3 no-lr-padding">
                <div class="image"><img src="~/Areas/UserPanel/Content/assets/img/products/featured-product-4.png" alt="Product"></div>
                <div class="description">
                    <div class="text">
                        <a href="#" class="add-to-cart cart-icn2"></a>
                        <div class="brand funky-font-2 ">Cycling Shoes</div>
                        <div class="name"><a href="#">Sidebike m065 pro</a></div>
                        <div class="price font-3">$250.00</div>
                        <div class="rating">
                            <span class="star active"></span>
                            <span class="star active"></span>
                            <span class="star"></span>
                            <span class="star"></span>
                            <span class="star"></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-3 no-lr-padding">
                <div class="image"><img src="~/Areas/UserPanel/Content/assets/img/products/featured-product-5.png" alt="Product"></div>
                <div class="description">
                    <div class="text">
                        <a href="#" class="add-to-cart cart-icn2"></a>
                        <div class="brand funky-font-2 ">Cycling Shoes</div>
                        <div class="name"><a href="#">Sidebike m065 pro</a></div>
                        <div class="price font-3">$250.00</div>
                        <div class="rating">
                            <span class="star active"></span>
                            <span class="star active"></span>
                            <span class="star active"></span>
                            <span class="star half"></span>
                            <span class="star"></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-3 no-lr-padding">
                <div class="image"><img src="~/Areas/UserPanel/Content/assets/img/products/featured-product-6.png" alt="Product"></div>
                <div class="description">
                    <div class="text">
                        <a href="#" class="add-to-cart cart-icn2"></a>
                        <div class="brand funky-font-2 ">Cycling Shoes</div>
                        <div class="name"><a href="#">Sidebike m065 pro</a></div>
                        <div class="price font-3">$250.00</div>
                        <div class="rating">
                            <span class="star"></span>
                            <span class="star"></span>
                            <span class="star"></span>
                            <span class="star"></span>
                            <span class="star"></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-3 no-lr-padding">
                <div class="image"><img src="~/Areas/UserPanel/Content/assets/img/products/featured-product-7.png" alt="Product"></div>
                <div class="description">
                    <div class="text">
                        <a href="#" class="add-to-cart cart-icn2"></a>
                        <div class="brand funky-font-2">Cycling Shoes</div>
                        <div class="name"><a href="#">Sidebike m065 pro</a></div>
                        <div class="price font-3">$250.00</div>
                        <div class="rating">
                            <span class="star active"></span>
                            <span class="star active"></span>
                            <span class="star active"></span>
                            <span class="star half"></span>
                            <span class="star"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- / Featured Products -->
    <!-- Product Slider -->
    <section class="gst-row wht-clr gst-cta row-cta ovh">
        <div class="container theme-container">
            <div class="row">
                <div class="col-md-7 col-sm-12 col-xs-12">
                    <h2>Found your <span class="thm-clr extbold-font-4">Dream Bike</span>? Why wait</h2>
                    <p class="gry-clr fsz-16">Get it now with a 0% finance deal from GoShop Fashion..</p>
                </div>
                <div class="col-md-5 col-sm-12 col-xs-12 text-right gst-cta-buttons">
                    <a href="#" class="fancy-btn-alt fancy-btn-small">Discover</a>
                    <a href="#" class="fancy-btn fancy-btn-small">Purchase</a>
                </div>
            </div>
        </div>
    </section>
    <!-- / Product Slider -->
    <!-- Product Slider -->
    <section class="gst-row row-carbon-fiber ovh">
        <div class="container theme-container">
            <div class="gst-column col-lg-12 no-padding text-center">
                <div class="fancy-heading text-center">
                    <h3>Carbon Fiber <span class="thm-clr">Cervelo</span></h3>
                    <h5 class="funky-font-2">Limited time offer only on GoShop</h5>
                </div>
                <div class="row">
                    <div class="col-lg-8 col-sm-8">
                        <div class="gst-empty-space clearfix"></div>
                        <div class="gst-empty-space clearfix"></div>
                        <div id="countdown-timer1" class="gst-countdown"></div>
                        <div class="gst-empty-space clearfix"></div>
                        <div class="gst-empty-space clearfix"></div>
                        <img class="right" src="~/Areas/UserPanel/Content/assets/img/products/bike-1.png" alt="" />
                    </div>
                    <div class="col-lg-4 col-sm-4">
                        <img src="~/Areas/UserPanel/Content/assets/img/extra/person.png" alt="" />
                    </div>
                </div>
                <div class="price-tag">
                    <span> <b class="fsz-25 blk-clr"> PRICE: </b> </span>
                    <span class="thm-clr fsz-40 light-font-3"> $<b>1150</b> </span>
                    <span class="discnt fsz-40 light-font-3"> $<b>1850</b> </span>
                </div>
                <div class="gst-empty-space clearfix"></div>
                <a href="single-product.html" class="fancy-btn fancy-btn-small">Add to Cart</a>
            </div>
        </div>
    </section>
    <!-- / Product Slider -->
    <!-- Testimonials Slider -->
    <section class="gst-row gst-color-white row-they-say ovh" id="they-say-carousel">
        <div class="container theme-container">
            <div class="gst-column col-lg-12 no-padding text-center">
                <div class="fancy-heading text-center wht-clr">
                    <h3>They Says</h3>
                    <h5 class="funky-font-2">Happy Clients</h5>
                </div>
                <div class="quotes-carousel">
                    <div class="they-say nav-2">
                        <div class="item">
                            <p><strong>Cycling is a healthy</strong>, fun and exciting way to travel. No matter what type of cycling you're into, we;ve got a bike for you. We stock one of the larget bicycle ranges everywhere.</p>
                            <cite>
                                <strong>JESSICA WILSON</strong> - France
                            </cite>
                        </div>
                        <div class="item">
                            <p><strong>Cycling is a healthy</strong>, fun and exciting way to travel. No matter what type of cycling you're into, we;ve got a bike for you. We stock one of the larget bicycle ranges everywhere.</p>
                            <cite>
                                <strong>JESSICA WILSON</strong> - France
                            </cite>
                        </div>
                        <div class="item">
                            <p><strong>Cycling is a healthy</strong>, fun and exciting way to travel. No matter what type of cycling you're into, we;ve got a bike for you. We stock one of the larget bicycle ranges everywhere.</p>
                            <cite>
                                <strong>JESSICA WILSON</strong> - France
                            </cite>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- / Testimonials Slider -->
    <!-- Special Offers -->
    <section class="container theme-container">
        <div class="gst-row">
            <div class="fancy-heading text-center spcbtm-15">
                <h3>Special Offers</h3>
                <h5 class="funky-font-2">Special price only this month</h5>
            </div>
            <div class="special-offers row">
                <div class="col-sm-6 col-lg-4">
                    <div class="product">
                        <div class="image"><a href="#"><img src="~/Areas/UserPanel/Content/assets/img/products/cat-1.png" alt="Product"></a></div>
                        <div class="right">
                            <p class="funky-font-2">Mountain bike</p>
                            <div class="name"><a href="#">GT SENSOR COMP 27.5</a></div>
                            <div class="price font-2">Price: <span class="price-new">$299.00</span> <span class="price-old">$599.00</span></div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-4">
                    <div class="product">
                        <div class="image"><a href="#"><img src="~/Areas/UserPanel/Content/assets/img/products/cat-2.png" alt="Product"></a></div>
                        <div class="right">
                            <p class="funky-font-2">Mountain bike</p>
                            <div class="name"><a href="#">BREEZER SQUALL 1.0</a></div>
                            <div class="price font-2">Price: <span class="price-new">$299.00</span> <span class="price-old">$599.00</span></div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-4">
                    <div class="product">
                        <div class="image"><a href="#"><img src="~/Areas/UserPanel/Content/assets/img/products/cat-3.png" alt="Product"></a></div>
                        <div class="right">
                            <p class="funky-font-2">Mountain bike</p>
                            <div class="name"><a href="#">GT SENSOR COMP 27.5</a></div>
                            <div class="price font-2">Price: <span class="price-new">$299.00</span> <span class="price-old">$599.00</span></div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-4">
                    <div class="product">
                        <div class="image"><a href="#"><img src="~/Areas/UserPanel/Content/assets/img/products/cat-4.png" alt="Product"></a></div>
                        <div class="right">
                            <p class="funky-font-2">Mountain bike</p>
                            <div class="name"><a href="#">BREEZER SQUALL 1.0</a></div>
                            <div class="price font-2">Price: <span class="price-new">$299.00</span> <span class="price-old">$599.00</span></div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-4">
                    <div class="product">
                        <div class="image"><a href="#"><img src="~/Areas/UserPanel/Content/assets/img/products/cat-5.png" alt="Product"></a></div>
                        <div class="right">
                            <p class="funky-font-2">Mountain bike</p>
                            <div class="name"><a href="#">GT SENSOR COMP 27.5</a></div>
                            <div class="price font-2">Price: <span class="price-new">$299.00</span> <span class="price-old">$599.00</span></div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-4">
                    <div class="product">
                        <div class="image"><a href="#"><img src="~/Areas/UserPanel/Content/assets/img/products/cat-6.png" alt="Product"></a></div>
                        <div class="right">
                            <p class="funky-font-2">Mountain bike</p>
                            <div class="name"><a href="#">GT SENSOR COMP 27.5</a></div>
                            <div class="price font-2">Price: <span class="price-new">$299.00</span> <span class="price-old">$599.00</span></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- / Special Offers -->
    <!-- Latest News -->
    <section class="gst-row row-latest-news ovh">
        <div class="container theme-container">
            <div class="gst-column col-lg-12 no-padding">
                <div class="fancy-heading text-center">
                    <h3>Latest <span class="thm-clr">News</span></h3>
                    <h5 class="funky-font-2">News from our blog</h5>
                </div>
                <div class="row gst-post-list">
                    <div class="col-lg-4 col-md-4 col-sm-6">
                        <a href="single.html">
                            <img src="~/Areas/UserPanel/Content/assets/img/blog/blog-1.jpg" alt="" />
                        </a>
                        <div class="media clearfix">
                            <div class="entry-meta media-left">
                                <div class="entry-time meta-date">
                                    <time datetime="2015-12-09T21:10:20+00:00">
                                        <span class="entry-time-date dblock">26</span>
                                        Dec
                                    </time>
                                </div>
                                <div class="entry-reply">
                                    <a href="single.html#comments" class="comments-link">
                                        <i class="fa fa-comment dblock"></i>
                                        125
                                    </a>
                                </div>
                            </div>
                            <div class="media-body">
                                <header class="entry-header">
                                    <span class="vcard author entry-author">
                                        <a class="url fn n" rel="author" href="single.html">
                                            Scott Williams
                                        </a>
                                    </span>
                                    <span class="entry-categories">
                                        <a href="category.html">Bike Tours</a>
                                    </span>
                                    <h3 class="entry-title">
                                        <a class="blk-clr" href="single.html" rel="bookmark">Bike injuries are on the rise, but there's still reason to ride</a>
                                    </h3>
                                    <a href="single.html" class="read-more-link thm-clr">Read More <i class="fa fa-long-arrow-right"></i> </a>
                                </header>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-6">
                        <a href="single.html">
                            <img src="~/Areas/UserPanel/Content/assets/img/blog/blog-2.jpg" alt="" />
                        </a>
                        <div class="media clearfix">
                            <div class="entry-meta media-left">
                                <div class="entry-time meta-date">
                                    <time datetime="2015-12-09T21:10:20+00:00">
                                        <span class="entry-time-date dblock">26</span>
                                        Dec
                                    </time>
                                </div>
                                <div class="entry-reply">
                                    <a href="single.html#comments" class="comments-link">
                                        <i class="fa fa-comment dblock"></i>
                                        125
                                    </a>
                                </div>
                            </div>
                            <div class="media-body">
                                <header class="entry-header">
                                    <span class="vcard author entry-author">
                                        <a class="url fn n" rel="author" href="single.html">
                                            Scott Williams
                                        </a>
                                    </span>
                                    <span class="entry-categories">
                                        <a href="category.html">Bike Tours</a>
                                    </span>
                                    <h3 class="entry-title">
                                        <a class="blk-clr" href="single.html" rel="bookmark">Bike injuries are on the rise, but there's still reason to ride</a>
                                    </h3>
                                    <a href="single.html" class="read-more-link thm-clr">Read More <i class="fa fa-long-arrow-right"></i> </a>
                                </header>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-6">
                        <a href="single.html">
                            <img src="~/Areas/UserPanel/Content/assets/img/blog/blog-3.jpg" alt="" />
                        </a>
                        <div class="media clearfix">
                            <div class="entry-meta media-left">
                                <div class="entry-time meta-date">
                                    <time datetime="2015-12-09T21:10:20+00:00">
                                        <span class="entry-time-date dblock">26</span>
                                        Dec
                                    </time>
                                </div>
                                <div class="entry-reply">
                                    <a href="single.html#comments" class="comments-link">
                                        <i class="fa fa-comment dblock"></i>
                                        125
                                    </a>
                                </div>
                            </div>
                            <div class="media-body">
                                <header class="entry-header">
                                    <span class="vcard author entry-author">
                                        <a class="url fn n" rel="author" href="single.html">
                                            Scott Williams
                                        </a>
                                    </span>
                                    <span class="entry-categories">
                                        <a href="category.html">Bike Tours</a>
                                    </span>
                                    <h3 class="entry-title">
                                        <a class="blk-clr" href="single.html" rel="bookmark">Bike injuries are on the rise, but there's still reason to ride</a>
                                    </h3>
                                    <a href="single.html" class="read-more-link thm-clr">Read More <i class="fa fa-long-arrow-right"></i> </a>
                                </header>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Latest News -->
    <!-- OPENING HOURS -->
    <section class="gst-row our-address">
        <div class="container theme-container">
            <div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 add-wrap">
                <div class=" text-center">
                    <h2 class="fsz-35"> <span class="bold-font-3 wht-clr">GoShop</span> <span class="thm-clr funky-font">bikes</span> </h2>
                    <p>
                        148 Parramatta Road Stanmore NSW 2048, New York City <br>
                        Call Sales & Workshop : (02) 9567 1999
                    </p>
                    <div class="fancy-heading text-center">
                        <h2 class="title-2">OPENING HOURS</h2>
                    </div>
                    <p> Monday to Wednesday from 10.00AM - 17.00PM </p>
                    <p> Thursday to Sunday from 11.00AM - 19.00PM </p>
                </div>
            </div>
        </div>
    </section>
    <!-- / OPENING HOURS -->
</div>

